doctype html
html
	head
		link(rel="stylesheet" href="css/app.css" type="text/css")
		title Cedrik
	body
		.wrapper.container
			include index/_load
			include global/_navigation
			include index/_intro
			include index/_projects
			include global/_footer
	script(src="js/main.js")