section.intro
	.company
		.company__info
			p.text.designer-details <span class="text--italic">Hello</span>, I’m Cedrik Malabanan from Toronto, Canada.
				| I studied Advertising and Graphic design at
				| the Insititue of technology - Humber College,
				| where the interest in Graphic design and art
				| direction caught most of my attention. I aspire
				| to be a great Creative director, with interest
				| in the obvious Graphic design, Photography, and dogs.
	.scroll
		a#js-scroll-down.scroll__text.text.text--uppercase scroll down


