section.projects
	.project.project--1
		.project__overlay
		.project__module
			h1.project-task.text.text--uppercase logo design
			p.project-description.text
				| Neque porro quisquam est qui dolorem
				| ipsum quia dolor sit amet, consectetur, adipisci velit.
	.project.project--2
		.project__overlay
		.project__module
			h1.project-task.text.text--uppercase logo design
			p.project-description.text
				| Neque porro quisquam est qui dolorem
				| ipsum quia dolor sit amet, consectetur, adipisci velit.
	.project.project--3
		.project__overlay
		.project__module
			h1.project-task.text.text--uppercase logo design
			p.project-description.text
				| Neque porro quisquam est qui dolorem
				| ipsum quia dolor sit amet, consectetur, adipisci velit.
	.project.project--4
		.project__overlay
		.project__module
			h1.project-task.text.text--uppercase logo design
			p.project-description.text
				| Neque porro quisquam est qui dolorem
				| ipsum quia dolor sit amet, consectetur, adipisci velit.
	.project.project--5
		.project__overlay
		.project__module
			h1.project-task.text.text--uppercase logo design
			p.project-description.text
				| Neque porro quisquam est qui dolorem
				| ipsum quia dolor sit amet, consectetur, adipisci velit.
